Repository cp2k/dbcsr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, clang-format-fypp

check-header:
  name: check file headers
  entry: ./.pre-commit/check_header.py --verbose
  language: script

clang-format-fypp:
  name: clang-format-fypp
  description: Format files with ClangFormat, ignore FYPP directives.
  entry: ./.pre-commit/clang-format-fypp.sh
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=file
  additional_dependencies:
  - clang-format

Force OpenMPI to oversubscribe
  .github/workflows/testing-linux.yml
  .pre-commit-config.yaml
  tests/CMakeLists.txt
Due: check-header

evaluate norm only for rank 0 in tests
  tests/dbcsr_test_multiply.F
Due: check-header

Enable MPI for latest GCC
  .github/workflows/testing-gcc.yml
Due: check-header

Add MPI to latest GCC
  tools/docker/Dockerfile.build-env-latest-gcc
Due: none

ocl: prepared OpenCL backend for CP2K's Offload/DBM/DBT libraries
  src/acc/acc_bench_smm.c
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl.sh
  src/acc/opencl/acc_opencl_event.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/acc_opencl_stream.c
  src/acc/opencl/smm/kernels/transpose.cl
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/tune_multiply_A100-80GB.csv
  src/acc/opencl/smm/params/tune_multiply_H100.csv
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

ocl: moved common code into separate OpenCL/header files
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.sh
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/common/opencl_atomics.h
  src/acc/opencl/common/opencl_common.h
  src/acc/opencl/smm/kernels/multiply.cl
Due: check-header, clang-format-fypp

ocl: further prepared for CP2K's Offload/DBM/DBT libraries
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl.sh
Due: check-header, clang-format-fypp

ocl: modularization of OpenCL kernel code and preparation for CP2K's Offload/DBM/DBT
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl.sh
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/smm/.gitignore
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
Due: check-header, clang-format-fypp

ocl: avoid overhead/regression and code-cleanup
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/acc_opencl_stream.c
  src/acc/opencl/smm/CMakeLists.txt
Due: check-header, clang-format-fypp

ocl: separated/modularized support for FP-atomics
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/common/opencl_atomics.h
  src/acc/opencl/common/opencl_common.h
  src/acc/opencl/smm/README.md
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

ocl: updated CMake dependencies for OpenCL kernel
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/acc_opencl_stream.c
  src/acc/opencl/common/opencl_common.h
  src/acc/opencl/smm/CMakeLists.txt
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
Due: check-header, clang-format-fypp

revert gcc latest with MPI test
  .github/workflows/testing-gcc.yml
Due: check-header

Change path to header files
  src/acc/libsmm_acc/calculate_norms.cpp
Due: check-header, clang-format-fypp

Move calculate_norms.cpp to cuda_hip directory
  src/CMakeLists.txt
  src/acc/cuda_hip/calculate_norms.cpp
Due: check-header, clang-format-fypp

Changes to reflect review comments
  src/acc/cuda/Makefile
  src/acc/libsmm_acc/tune/tune_setup.py
  src/mm/dbcsr_acc_operations.F
  src/mm/dbcsr_mm_common.F
Due: check-header

Avoid LTO warning on type mismatch
  .github/workflows/testing-linux.yml
  CMakeLists.txt
Due: check-header

Path conditions:
  check-header: any of: not ((?x)^(
  tools/.*|
  .cp2k/.*|
  .cmake-format.py|
  src/acc/hip/dbcsr_hip_profiling.F|
)$), but not: ^tools/(build_utils/fypp)
  clang-format-fypp: any of: \.(c|cc|cxx|cpp|cl|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: ^tools/(build_utils/fypp)
