Repository cp2k/dbcsr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, clang-format-fypp

.pre-commit-config.yaml:

default_language_version:
    python: python3

exclude: '^tools/(build_utils/fypp)'
fail_fast: false
repos:
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.0.261'
  hooks:
  - id: ruff
    args: [ --fix, --exit-non-zero-on-fix ]
    exclude: >-
      (?x)^(
        .cp2k/.*|
      )$
- repo: https://github.com/ambv/black
  rev: 22.6.0
  hooks:
  - id: black
    name: Reformat Python files with the black code formatter
    files: '^.*(/PACKAGE)|(\.py)$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-ast
  - id: check-yaml
  - id: check-symlinks
  - id: trailing-whitespace
- repo: https://github.com/pseewald/fprettify
  rev: v0.3.7
  hooks:
  - id: fprettify
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    exclude: >-
      (?x)^(
        cmake/(CheckFortranSourceRuns|CompilerConfiguration|Find(BLAS|LAPACK)|GetGitRevisionDescription).cmake|
      )$
- repo: local
  hooks:
  - id: check-header
    name: check file headers
    entry: ./.pre-commit/check_header.py --verbose
    language: script
    types: [text]
    exclude: >-
      (?x)^(
        tools/.*|
        .cp2k/.*|
        .cmake-format.py|
        src/acc/hip/dbcsr_hip_profiling.F|
      )$
  - id: check-doxygen-tags
    name: no doxygen tags present
    entry: '^\s*!>'
    language: pygrep
    types: [text]
  - id: clang-format-fypp
    name: clang-format-fypp
    description: Format files with ClangFormat, ignore FYPP directives.
    entry: ./.pre-commit/clang-format-fypp.sh
    language: python
    files: \.(c|cc|cxx|cpp|cl|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
    args: ['-i', '-fallback-style=none', '--style=file']
    additional_dependencies: ['clang-format']

Review triggered changes
  src/core/dbcsr_config.F
Due: check-header

Allow tunring off DBCSR ACC with env variable
  src/core/dbcsr_config.F
  src/core/dbcsr_lib.F
  src/mm/dbcsr_mm.F
  src/mm/dbcsr_mm_3d.F
  src/mm/dbcsr_mm_cannon.F
  src/mm/dbcsr_mm_hostdrv.F
  src/mm/dbcsr_mm_sched.F
Due: check-header

h100
  CMakeLists.txt
Due: check-header

Clarify that users should provide new kernels/gpu support
  src/acc/libsmm_acc/README.md
Due: check-header

Initialize member variables of derived types
  src/block/dbcsr_block_access.F
  src/block/dbcsr_iterator_operations.F
  src/core/dbcsr_config.F
  src/core/dbcsr_dict.F
  src/core/dbcsr_dict.fypp
  src/core/dbcsr_iter_types.F
  src/core/dbcsr_log_handling.F
  src/core/dbcsr_timings_base_type.F
  src/core/dbcsr_timings_types.F
  src/core/dbcsr_types.F
  src/data/dbcsr_data_types.F
  src/dbcsr_api.F
  src/mm/dbcsr_mm_3d.F
  src/mm/dbcsr_mm_accdrv.F
  src/mm/dbcsr_mm_common.F
  src/mm/dbcsr_mm_csr.F
  src/mm/dbcsr_mm_hostdrv.F
  src/mm/dbcsr_mm_multrec.F
  src/mm/dbcsr_mm_sched.F
  src/mm/dbcsr_mm_types.F
  src/mpi/dbcsr_mpiwrap.F
  src/ops/dbcsr_csr_conversions.F
  src/tas/dbcsr_tas_global.F
  src/tas/dbcsr_tas_types.F
  src/tensors/dbcsr_tensor_block.F
  src/tensors/dbcsr_tensor_index.F
  src/tensors/dbcsr_tensor_types.F
  src/utils/dbcsr_btree.F
  src/utils/dbcsr_btree.fypp
  src/utils/dbcsr_files.F
  src/utils/dbcsr_min_heap.F
  src/work/dbcsr_work_operations.F
Due: check-header

Try GCC 13.3
  .github/workflows/testing-macos.yml
Due: check-header

Update macOS CI to GCC 14
  .github/workflows/testing-macos.yml
Due: check-header

Initialize member variables of derived types (#806)
  src/block/dbcsr_block_access.F
  src/block/dbcsr_iterator_operations.F
  src/core/dbcsr_config.F
  src/core/dbcsr_dict.F
  src/core/dbcsr_dict.fypp
  src/core/dbcsr_iter_types.F
  src/core/dbcsr_log_handling.F
  src/core/dbcsr_timings_base_type.F
  src/core/dbcsr_timings_types.F
  src/core/dbcsr_types.F
  src/data/dbcsr_data_types.F
  src/dbcsr_api.F
  src/mm/dbcsr_mm_3d.F
  src/mm/dbcsr_mm_accdrv.F
  src/mm/dbcsr_mm_common.F
  src/mm/dbcsr_mm_csr.F
  src/mm/dbcsr_mm_hostdrv.F
  src/mm/dbcsr_mm_multrec.F
  src/mm/dbcsr_mm_sched.F
  src/mm/dbcsr_mm_types.F
  src/mpi/dbcsr_mpiwrap.F
  src/ops/dbcsr_csr_conversions.F
  src/tas/dbcsr_tas_global.F
  src/tas/dbcsr_tas_types.F
  src/tensors/dbcsr_tensor_block.F
  src/tensors/dbcsr_tensor_index.F
  src/tensors/dbcsr_tensor_types.F
  src/utils/dbcsr_btree.F
  src/utils/dbcsr_btree.fypp
  src/utils/dbcsr_files.F
  src/utils/dbcsr_min_heap.F
  src/work/dbcsr_work_operations.F
Due: check-header

Set TEST_MPI_RANKS to 2 as default
  .github/workflows/testing-linux.yml
  .github/workflows/testing-macos.yml
  CMakeLists.txt
  docs/guide/2-user-guide/1-installation/index.md
Due: check-header

Add processors properties (#757)
  tests/CMakeLists.txt
Due: check-header

Remove max kernel size re-definition
  src/acc/acc_bench.h
  src/acc/libsmm_acc/libsmm_acc_benchmark.cpp
  src/acc/libsmm_acc/libsmm_acc_benchmark.h
Due: check-header, clang-format-fypp

Use C++ compiler and add OpenMP flag for C++ application instead of hipcc/clang
  examples/CMakeLists.txt
  tests/CMakeLists.txt
Due: check-header

[Debug] Try to resolve openmpi test duration
  tools/fedora/dbcsr.spec
Due: none

Disable some linting tests
  tools/fedora/plans/rpminspect.fmf
  tools/fedora/plans/rpmlint.fmf
Due: none

Add Fedora packaging via packit
  .gitignore
  .packit.yaml
  tools/fedora/.fmf/version
  tools/fedora/dbcsr.rpmlintrc
  tools/fedora/dbcsr.spec
  tools/fedora/plans/main.fmf
  tools/fedora/plans/rpminspect.fmf
  tools/fedora/plans/rpmlint.fmf
Due: check-header

Use a generic kernel if tuned kernnels are not present
  src/acc/libsmm_acc/libsmm_acc.cpp
  src/mm/dbcsr_acc_operations.F
  src/mm/dbcsr_mm_accdrv.F
  src/mm/dbcsr_mm_sched.F
Due: check-header, clang-format-fypp

Switch off Daint CI
  .ci/daint.cscs.ch/Jenkinsfile.off
Due: check-header

Check if the generic kernel is working, otherwise fall-back to CPU execution
  src/acc/libsmm_acc/libsmm_acc.cpp
  src/acc/libsmm_acc/libsmm_acc.h
Due: check-header, clang-format-fypp

Limit the max size of the untuned kernel
  src/acc/libsmm_acc/libsmm_acc.cpp
  src/core/dbcsr_config.F
  src/mm/dbcsr_mm_sched.F
Due: check-header, clang-format-fypp

Bump version to 2.7.0-rc2
  VERSION
Due: check-header

Fix GCC8
  src/tas/dbcsr_tas_types.F
  src/tensors/dbcsr_tensor_block.F
  src/tensors/dbcsr_tensor_types.F
Due: check-header
