Repository cp2k/dbcsr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, clang-format-fypp

check-header:
  name: check file headers
  entry: ./.pre-commit/check_header.py --verbose
  language: script

clang-format-fypp:
  name: clang-format-fypp
  description: Format files with ClangFormat, ignore FYPP directives.
  entry: ./.pre-commit/clang-format-fypp.sh
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=file
  additional_dependencies:
  - clang-format

Update ROCM container
  tools/docker/README.md
Due: none

Use G2G cannon algorithm only for real_8 data type
  src/mm/dbcsr_mm.F
  src/mm/dbcsr_mm_cannon.F
Due: check-header

Update to MPI F08
  src/mm/dbcsr_mm_cannon.F
  src/mm/dbcsr_mm_common.F
Due: check-header

Move ROCM build test to Release
  .github/workflows/testing-linux.yml
Due: check-header

Add GPU aware MPI support in cannon algorithm with norms calculation in GPU
  AUTHORS
  CMakeLists.txt
  docs/guide/2-user-guide/1-installation/index.md
  docs/guide/3-developer-guide/3-programming/1-overview/index.md
  src/CMakeLists.txt
  src/acc/cuda_hip/acc_dev.cpp
  src/acc/libsmm_acc/calculate_norms.cpp
  src/acc/libsmm_acc/libsmm_acc.cpp
  src/mm/dbcsr_mm.F
  src/mm/dbcsr_mm_cannon.F
  src/mm/dbcsr_mm_common.F
Due: check-header, clang-format-fypp

Remove unused variable
  src/mm/dbcsr_mm_cannon.F
Due: check-header

Allow multiple headers
  .pre-commit/check_header.py
  .pre-commit/headers/c_cpp.1
  .pre-commit/headers/c_cpp.2
  .pre-commit/headers/fortran.1
  .pre-commit/headers/fortran.2
  .pre-commit/headers/fypp.1
  .pre-commit/headers/python.1
Due: check-header

Force to remove HIP_ARCHITECTURE for linking
  CMakeLists.txt
Due: check-header

Update docker containers to ubuntu 22.04
  tools/docker/Dockerfile.build-env-ubuntu-cuda
  tools/docker/README.md
Due: none

Revert changes on linux test
  .github/workflows/testing-linux.yml
Due: check-header

Move calculate norms interface
  src/mm/dbcsr_acc_operations.F
Due: check-header

Rocm test to use Release build
  .github/workflows/testing-linux.yml
Due: check-header

Update github actions
  .github/workflows/doc-generation.yml
  .github/workflows/docker-build-env.yml
  .github/workflows/release.yml
  .github/workflows/testing-gcc.yml
  .github/workflows/testing-linux.yml
  .github/workflows/testing-macos.yml
Due: check-header

Enable test on G2G and rocm compilation
  .github/workflows/testing-linux.yml
Due: check-header

Add GPU aware MPI support in cannon algorithm (#647)
  .github/workflows/doc-generation.yml
  .github/workflows/docker-build-env.yml
  .github/workflows/release.yml
  .github/workflows/testing-gcc.yml
  .github/workflows/testing-linux.yml
  .github/workflows/testing-macos.yml
  .pre-commit/check_header.py
  .pre-commit/headers/c_cpp.1
  .pre-commit/headers/c_cpp.2
  .pre-commit/headers/fortran.1
  .pre-commit/headers/fortran.2
  .pre-commit/headers/fypp.1
  .pre-commit/headers/python.1
  AUTHORS
  CMakeLists.txt
  docs/guide/2-user-guide/1-installation/index.md
  docs/guide/3-developer-guide/3-programming/1-overview/index.md
  src/CMakeLists.txt
  src/acc/cuda/Makefile
  src/acc/cuda_hip/acc_dev.cpp
  src/acc/cuda_hip/calculate_norms.cpp
  src/acc/libsmm_acc/libsmm_acc.cpp
  src/acc/libsmm_acc/tune/tune_setup.py
  src/mm/dbcsr_acc_operations.F
  src/mm/dbcsr_mm.F
  src/mm/dbcsr_mm_cannon.F
  src/mm/dbcsr_mm_common.F
  tools/docker/Dockerfile.build-env-latest-gcc
  tools/docker/Dockerfile.build-env-ubuntu-cuda
  tools/docker/README.md
Due: check-header, clang-format-fypp

Update github actions
  .github/workflows/docker-build-env.yml
Due: check-header

refactor acc with a common utils
  src/CMakeLists.txt
  src/acc/cuda/acc_cuda.h
  src/acc/cuda_hip/acc_utils.cpp
  src/acc/cuda_hip/acc_utils.h
  src/acc/cuda_hip/calculate_norms.cpp
  src/acc/libsmm_acc/libsmm_acc_init.cpp
Due: check-header, clang-format-fypp

add env variable to control G2G algo
  src/core/dbcsr_config.F
  src/mm/dbcsr_mm.F
Due: check-header

Add processors properties
  tests/CMakeLists.txt
Due: check-header

Add Fedora packaging via packit
  .distro/.fmf/version
  .distro/dbcsr.rpmlintrc
  .distro/dbcsr.spec
  .distro/plans/main.fmf.dist-git
  .distro/plans/rpminspect.fmf
  .distro/plans/rpmlint.fmf
  .gitignore
  .packit.yaml
Due: check-header

ocl: pointer-arithmetic for device-pointers
  .ci/daint.cscs.ch/ocl.build.sh
  .ci/daint.cscs.ch/ocl.test.sh
  src/CMakeLists.txt
  src/acc/acc_bench_smm.c
  src/acc/dbcsr_acc_devmem.F
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_event.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/acc_opencl_stream.c
  src/acc/opencl/common/opencl_common.h
  src/acc/opencl/smm/CMakeLists.txt
  src/acc/opencl/smm/kernels/multiply.cl
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/opencl_libsmm.h
  src/acc/opencl/smm/params/tune_multiply_A100-40GB.csv
  src/acc/opencl/smm/params/tune_multiply_A100.csv
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
  tests/CMakeLists.txt
  tests/dbcsr_test_multiply.F
Due: check-header, clang-format-fypp

ocl: adjusted finalization-flow of OpenCL backend
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_event.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/acc_opencl_stream.c
Due: check-header, clang-format-fypp

Fixed interface for calculate_norms
  src/acc/acc_libsmm.h
  src/acc/cuda_hip/calculate_norms.cpp
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

Path conditions:
  check-header: any of: not ((?x)^(
  tools/.*|
  .cp2k/.*|
  .cmake-format.py|
  src/acc/hip/dbcsr_hip_profiling.F|
)$), but not: ^tools/(build_utils/fypp)
  clang-format-fypp: any of: \.(c|cc|cxx|cpp|cl|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: ^tools/(build_utils/fypp)
