Repository cp2k/dbcsr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, clang-format-fypp

.pre-commit-config.yaml:

default_language_version:
    python: python3

exclude: '^tools/(build_utils/fypp)'
fail_fast: false
minimum_pre_commit_version: 3.2.0
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.6.5'
  hooks:
  - id: ruff
    args: [ --fix, --exit-non-zero-on-fix ]
    exclude: >-
      (?x)^(
        .cp2k/.*|
      )$
- repo: https://github.com/psf/black
  rev: 24.8.0
  hooks:
  - id: black
    name: Reformat Python files with the black code formatter
    files: '^.*(/PACKAGE)|(\.py)$'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-ast
  - id: check-yaml
  - id: check-symlinks
  - id: trailing-whitespace
- repo: https://github.com/fortran-lang/fprettify
  rev: v0.3.7
  hooks:
  - id: fprettify
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    exclude: >-
      (?x)^(
        cmake/(CheckFortranSourceRuns|CompilerConfiguration|Find(BLAS|LAPACK)|GetGitRevisionDescription).cmake|
      )$
- repo: local
  hooks:
  - id: check-header
    name: check file headers
    entry: ./.pre-commit/check_header.py --verbose
    language: script
    types: [text]
    exclude: >-
      (?x)^(
        tools/.*|
        .cp2k/.*|
        .cmake-format.py|
        src/acc/hip/dbcsr_hip_profiling.F|
      )$
  - id: check-doxygen-tags
    name: no doxygen tags present
    entry: '^\s*!>'
    language: pygrep
    types: [text]
  - id: clang-format-fypp
    name: clang-format-fypp
    description: Format files with ClangFormat, ignore FYPP directives.
    entry: ./.pre-commit/clang-format-fypp.sh
    language: python
    files: \.(c|cc|cxx|cpp|cl|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
    args: ['-i', '-fallback-style=none', '--style=file']
    # specify version since clang-format is not stable version-to-version
    additional_dependencies: ['clang-format~=19.1.0']

Git-rm daint.cscs.ch
  .ci/daint.cscs.ch/Jenkinsfile.off
  .ci/daint.cscs.ch/cray.build.sh
  .ci/daint.cscs.ch/cray.test.sh
  .ci/daint.cscs.ch/gnu.build.sh
  .ci/daint.cscs.ch/gnu.test.sh
  .ci/daint.cscs.ch/intel.build.sh
  .ci/daint.cscs.ch/intel.test.sh
  .ci/daint.cscs.ch/ocl.build.sh
  .ci/daint.cscs.ch/ocl.test.sh
Due: check-header

Fixed build order
  tools/docker/Dockerfile.build-env-ubuntu
  tools/docker/Dockerfile.build-env-ubuntu-cuda
Due: none

Updated LIBXS/LIBXSTREAM
  cmake/dependencies.cmake
  src/CMakeLists.txt
  src/acc/acc_bench.c
  tools/docker/Dockerfile.build-env-ubuntu
  tools/docker/Dockerfile.build-env-ubuntu-cuda
Due: check-header, clang-format-fypp

Harmonize CMake with CP2K
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/dependencies.cmake
  docs/guide/2-user-guide/1-installation/1-cmake-build-recipes.md
  docs/guide/2-user-guide/1-installation/index.md
  docs/guide/2-user-guide/3-examples/index.md
  docs/guide/2-user-guide/4-gpu/index.md
  docs/guide/3-developer-guide/3-programming/1-overview/index.md
  docs/guide/3-developer-guide/3-programming/2-accelerator-backend/1-code-structure.md
  docs/guide/3-developer-guide/3-programming/2-accelerator-backend/3-libsmm_ocl/1-autotune.md
  docs/guide/3-developer-guide/3-programming/2-accelerator-backend/3-libsmm_ocl/2-bulktune.md
  docs/guide/3-developer-guide/3-programming/2-accelerator-backend/3-libsmm_ocl/index.md
  docs/guide/3-developer-guide/4-performance/1-insights.md
  docs/guide/3-developer-guide/4-performance/2-just-in-time-compilation.md
  src/acc/README.md
  src/acc/acc_bench.c
  src/cmake/DBCSRConfig.cmake.in
  tests/CMakeLists.txt
  tools/docker/Dockerfile.build-env-ubuntu
  tools/docker/Dockerfile.build-env-ubuntu-cuda
Due: check-header, clang-format-fypp

Tweaked CMake configuration
  CMakeLists.txt
  cmake/dependencies.cmake
  src/CMakeLists.txt
  tools/docker/Dockerfile.build-env-ubuntu
  tools/docker/Dockerfile.build-env-ubuntu-cuda
Due: check-header

Fix Fedora RPM-build error
  examples/dbcsr_tensor_example_2.cpp
  tests/dbcsr_tensor_test.cpp
  tools/fedora/dbcsr.spec
Due: check-header, clang-format-fypp

Default MPI_F08 OFF
  CMakeLists.txt
Due: check-header

Test CMake-built libxs* library
  cmake/FindLIBXS.cmake
  cmake/FindLIBXSMM.cmake
  cmake/FindLIBXSTREAM.cmake
  cmake/dependencies.cmake
Due: check-header

Switch to FetchContent if no OpenCL helper found in libxstream
  CMakeLists.txt
Due: check-header

CMake build system cleanup
  CMakeLists.txt
  src/CMakeLists.txt
  src/cmake/DBCSRConfig.cmake.in
  src/cmake/FindLIBXSMM.cmake
Due: check-header

Update dependency in CI
  .github/workflows/testing-linux.yml
  src/CMakeLists.txt
Due: check-header

CMake: fix LIBXS and LIBXSTREAM discovery and revise default option
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  cmake/dependencies.cmake
  src/CMakeLists.txt
  src/cmake/DBCSRConfig.cmake.in
  tests/CMakeLists.txt
Due: check-header

Remove FindLIBXS*.cmake and adjust workflow
  .github/workflows/testing-linux.yml
  CMakeLists.txt
  cmake/FindLIBXS.cmake
  cmake/FindLIBXSMM.cmake
  cmake/FindLIBXSTREAM.cmake
  cmake/dependencies.cmake
Due: check-header

Fix Fedora RPM-build error
  examples/dbcsr_tensor_example_2.cpp
  tests/dbcsr_tensor_test.cpp
Due: check-header, clang-format-fypp

Update dependency
  cmake/dependencies.cmake
Due: check-header

Fix regression
  CMakeLists.txt
Due: check-header

Incorporated hfp's changes
  CMakeLists.txt
  cmake/CompilerConfiguration.cmake
  src/CMakeLists.txt
  src/acc/acc_bench.c
  src/cmake/DBCSRConfig.cmake.in
  src/mm/dbcsr_mm_hostdrv.F
  tools/docker/Dockerfile.build-env-ubuntu
  tools/docker/Dockerfile.build-env-ubuntu-cuda
Due: check-header, clang-format-fypp

Adjust Fedora RPM-build
  .github/workflows/testing-linux.yml
  CMakeLists.txt
  tools/fedora/dbcsr.spec
Due: check-header

Adjust GitHub Actions workflow
  .github/workflows/testing-linux.yml
  .github/workflows/testing-macos.yml
Due: check-header

Move dependency finding into Find*.cmake
  CMakeLists.txt
  cmake/FindLIBXS.cmake
  cmake/FindLIBXSMM.cmake
  cmake/FindLIBXSTREAM.cmake
  src/CMakeLists.txt
  src/cmake/DBCSRConfig.cmake.in
Due: check-header

Update dependencies in CI
  .github/workflows/testing-linux.yml
Due: check-header

Avoid sending empty states to acc
  CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: check-header

Fix typo
  src/CMakeLists.txt
Due: check-header

Update libxstream (executable tool_opencl.sh)
  .github/workflows/testing-linux.yml
Due: check-header
