Repository cp2k/dbcsr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, clang-format-fypp

.pre-commit-config.yaml:

default_language_version:
    python: python3

exclude: '^tools/(build_utils/fypp)'
fail_fast: false
repos:
- repo: https://github.com/ambv/black
  rev: 22.6.0
  hooks:
  - id: black
    name: Reformat Python files with the black code formatter
    files: '^.*(/PACKAGE)|(\.py)$'
- repo: https://github.com/pycqa/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    exclude: >-
      (?x)^(
        .cp2k/.*|
      )$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-ast
  - id: check-yaml
  - id: check-symlinks
  - id: trailing-whitespace
- repo: https://github.com/pseewald/fprettify
  rev: v0.3.7
  hooks:
  - id: fprettify
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    exclude: >-
      (?x)^(
        cmake/(CheckFortranSourceRuns|CompilerConfiguration|Find(BLAS|LAPACK)|GetGitRevisionDescription).cmake|
      )$
- repo: local
  hooks:
  - id: check-header
    name: check file headers
    entry: ./.pre-commit/check_header.py --verbose
    language: script
    types: [text]
    exclude: >-
      (?x)^(
        tools/.*|
        .cp2k/.*|
        .cmake-format.py|
        src/acc/hip/dbcsr_hip_profiling.F|
      )$
  - id: check-doxygen-tags
    name: no doxygen tags present
    entry: '^\s*!>'
    language: pygrep
    types: [text]
  - id: clang-format-fypp
    name: clang-format-fypp
    description: Format files with ClangFormat, ignore FYPP directives.
    entry: ./.pre-commit/clang-format-fypp.sh
    language: python
    files: \.(c|cc|cxx|cpp|cl|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$
    args: ['-i', '-fallback-style=none', '--style=file']
    additional_dependencies: ['clang-format']

ocl: fixed regex in parameter-tuning script
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

Prettify
  src/acc/opencl/smm/tune_multiply.py
Due: check-header

ocl: fixed regex in parameter-tuning script (#659)
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

ocl: flexible matching of tuned parameters
  .ci/daint.cscs.ch/ocl.build.sh
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/tune_multiply_A100-40GB.csv
  src/acc/opencl/smm/params/tune_multiply_A100-80GB.csv
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

ocl: flexible matching of tuned parameters (#660)
  .ci/daint.cscs.ch/ocl.build.sh
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/tune_multiply_A100-40GB.csv
  src/acc/opencl/smm/params/tune_multiply_A100-80GB.csv
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

ocl: fixed condition when flex-matching tuned parameters
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

ocl: fixed condition when flex-matching tuned parameters (#662)
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

ocl: streamlined warning messages
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

ocl: streamlined warning messages (#663)
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

ocl: fixed exit-condition of tuning script
  src/acc/opencl/smm/tune_multiply.sh
Due: check-header

ocl: fixed exit-condition of tuning script (#664)
  src/acc/opencl/smm/tune_multiply.sh
Due: check-header

ocl: various fixes for auto-tuning script
  src/acc/opencl/smm/tune_multiply.py
  src/acc/opencl/smm/tune_multiply.sh
Due: check-header

ocl: various fixes for auto-tuning script (#665)
  src/acc/opencl/smm/tune_multiply.py
  src/acc/opencl/smm/tune_multiply.sh
Due: check-header

ocl: updated/added tuned parameters
  .ci/daint.cscs.ch/ocl.build.sh
  src/acc/acc_bench_smm.c
  src/acc/acc_bench_trans.c
  src/acc/cuda/Makefile
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/smm/params/tune_multiply_A100-40GB.csv
  src/acc/opencl/smm/params/tune_multiply_A100-80GB.csv
  src/acc/opencl/smm/params/tune_multiply_H100.csv
  src/acc/opencl/smm/params/tune_multiply_P100.csv
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

ocl: updated/added tuned parameters (#666)
  .ci/daint.cscs.ch/ocl.build.sh
  src/acc/acc_bench_smm.c
  src/acc/acc_bench_trans.c
  src/acc/cuda/Makefile
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/smm/params/tune_multiply_A100-40GB.csv
  src/acc/opencl/smm/params/tune_multiply_A100-80GB.csv
  src/acc/opencl/smm/params/tune_multiply_H100.csv
  src/acc/opencl/smm/params/tune_multiply_P100.csv
  src/acc/opencl/smm/params/tune_multiply_PVC.csv
  src/acc/opencl/smm/tune_multiply.py
Due: check-header, clang-format-fypp

ocl: fixed backend initialization
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.sh
Due: check-header, clang-format-fypp

ocl: fixed backend initialization (#667)
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.sh
Due: check-header, clang-format-fypp

ocl: added README.md for tuned parameters
  src/acc/acc_bench_smm.c
  src/acc/acc_bench_trans.c
  src/acc/cuda/Makefile
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/smm/params/README.md
Due: check-header, clang-format-fypp

ocl: added README.md for the tuned parameters
  src/acc/acc_bench_smm.c
  src/acc/acc_bench_trans.c
  src/acc/cuda/Makefile
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_event.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/README.md
Due: check-header, clang-format-fypp

ocl: added README.md for the tuned parameters (#670)
  src/acc/acc_bench_smm.c
  src/acc/acc_bench_trans.c
  src/acc/cuda/Makefile
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_event.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/params/README.md
Due: check-header, clang-format-fypp

run docker CI only from main repo
  .github/workflows/docker-build-env.yml
Due: check-header

docker: drop use of backports repo for latest-gcc
  tools/docker/Dockerfile.build-env-latest-gcc
Due: none

Squashed 'tools/vecLibFort/' content from commit 71d11952f2
  LICENSE
  Makefile
  README.md
  cloak.h
  static.h
  tester.f90
  vecLib-760.100.h
  vecLibFort.c
Due: check-header, clang-format-fypp

drop __ACCELERATE, use vecLibFort instead
  .pre-commit-config.yaml
  CMakeLists.txt
  docs/guide/2-user-guide/1-installation/index.md
  docs/guide/3-developer-guide/3-programming/1-overview/index.md
  src/CMakeLists.txt
  src/mm/dbcsr_mm_common.F
  src/mm/dbcsr_mm_multrec.F
  src/ops/dbcsr_operations.F
  tests/CMakeLists.txt
  tests/dbcsr_test_add.F
  tests/dbcsr_test_multiply.F
  tools/vecLibFort/CMakeLists.txt
Due: check-header

cmake: add missing cuda library
  .github/workflows/testing-macos.yml
  src/CMakeLists.txt
  tools/vecLibFort/CMakeLists.txt
Due: check-header

gha: drop mpich testing on macOS for now
  .github/workflows/testing-macos.yml
Due: check-header

acc/hip: fix hipblas include
  src/acc/hip/acc_hip.h
Due: check-header, clang-format-fypp

docker: add another lsan suppresion for gcc-13
  .github/workflows/testing-gcc.yml
  tools/docker/lsan.supp
Due: check-header

cmake: add missing cuda library
  .github/workflows/testing-macos.yml
  src/CMakeLists.txt
Due: check-header
