Repository cp2k/dbcsr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, clang-format-fypp

check-header:
  name: check file headers
  entry: ./.pre-commit/check_header.py --verbose
  language: script

clang-format-fypp:
  name: clang-format-fypp
  description: Format files with ClangFormat, ignore FYPP directives.
  entry: ./.pre-commit/clang-format-fypp.sh
  language: python
  args:
  - -i
  - -fallback-style=none
  - --style=file
  additional_dependencies:
  - clang-format~=19.1.0

Fix GPU builds
  src/mm/dbcsr_mm_cannon.F
Due: check-header

Verify CUDA-aware MPI
  src/acc/cuda_hip/acc_utils.cpp
  src/mm/dbcsr_mm_cannon.F
  src/mpi/dbcsr_mpiwrap.F
Due: check-header, clang-format-fypp

Fix non-accelerated builds
  src/mm/dbcsr_mm_cannon.F
Due: check-header

Cleanup
  src/acc/cuda_hip/acc_utils.cpp
  src/mm/dbcsr_mm_accdrv.F
  src/mm/dbcsr_mm_cannon.F
  src/mm/dbcsr_mm_common.F
  src/mm/dbcsr_mm_sched.F
Due: check-header, clang-format-fypp

Deallocate arrays
  src/mpi/dbcsr_mp_operations.F
Due: check-header

Introduced ACC_OPENCL_CMEM
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/smm/kernels/multiply.cl
  src/acc/opencl/smm/kernels/transpose.cl
  src/acc/opencl/smm/opencl_libsmm.c
  src/acc/opencl/smm/opencl_libsmm.h
Due: check-header, clang-format-fypp

Switch MacOS CI to use MPICH
  .github/workflows/testing-macos.yml
Due: check-header

Update GCC to v15
  .github/workflows/testing-macos.yml
Due: check-header

Install ACC header only for the OpenCL backend
  src/CMakeLists.txt
Due: check-header

Remove G2G in ROCM (it is enabled), add MPI
  .github/workflows/testing-linux.yml
  CMakeLists.txt
  src/CMakeLists.txt
Due: check-header

Fix FORD documentation for notes
  src/block/dbcsr_block_operations.F
  src/block/dbcsr_index_operations.F
  src/block/dbcsr_iterator_operations.F
  src/core/dbcsr_list.F
  src/core/dbcsr_methods.F
  src/core/dbcsr_print_messages.F
  src/core/dbcsr_types.F
  src/data/dbcsr_data_methods_low.F
  src/dist/dbcsr_dist_operations.F
  src/dist/dbcsr_dist_util.F
  src/mm/dbcsr_mm_cannon.F
  src/mm/dbcsr_mm_common.F
  src/mm/dbcsr_mm_dist_operations.F
  src/mpi/dbcsr_mp_operations.F
  src/mpi/dbcsr_mpiwrap.F
  src/ops/dbcsr_operations.F
  src/ops/dbcsr_transformations.F
  src/tensors/dbcsr_allocate_wrap.F
  src/tensors/dbcsr_tensor_test.F
  src/work/dbcsr_work_operations.F
Due: check-header

Add Flang
  cmake/CompilerConfiguration.cmake
Due: check-header

CMake/LAPACK/BLAS: removed customized/diverged standard modules
  cmake/FindBLAS.cmake
  cmake/FindLAPACK.cmake
Due: check-header

[cmake] Proper handling of the different language standards
  CMakeLists.txt
Due: check-header

Conditional C/C++ Standard requirements
  CMakeLists.txt
Due: check-header

Add CUDA and HIP C++ Standard
  .github/workflows/doc-generation.yml
  .github/workflows/release.yml
  .github/workflows/testing-gcc.yml
  .github/workflows/testing-linux.yml
  .github/workflows/testing-macos.yml
  CMakeLists.txt
Due: check-header

Fix issue on Fedora due to missing FindBlas/Lapack
  tools/fedora/dbcsr.spec
Due: none

ocl: support shared virtual memory
  src/acc/acc_bench.c
  src/acc/opencl/Makefile
  src/acc/opencl/acc_opencl.c
  src/acc/opencl/acc_opencl.h
  src/acc/opencl/acc_opencl_event.c
  src/acc/opencl/acc_opencl_mem.c
  src/acc/opencl/smm/opencl_libsmm.c
Due: check-header, clang-format-fypp

ocl: fixed condition
  src/acc/opencl/acc_opencl.c
Due: check-header, clang-format-fypp

Path conditions:
  check-header: any of: not ((?x)^(
  tools/.*|
  .cp2k/.*|
  .cmake-format.py|
  src/acc/hip/dbcsr_hip_profiling.F|
)$), but not: ^tools/(build_utils/fypp)
  clang-format-fypp: any of: \.(c|cc|cxx|cpp|cl|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|textproto|vert)$, but not: ^tools/(build_utils/fypp)
